RewriteEngine On

RewriteCond %{HTTPS} off [NC]
RewriteRule (.*) https://www.tamvkarvine.cz%{REQUEST_URI} [L,R=301,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]