@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "tamvkarvine";
  font-weight: normal;
  font-style: normal;
  src: url("./font/tamvkarvine.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}

body {
  font-family: "Poppins", sans-serif;
}

i.icon-arrow::before {
  content: "\61";
  color: #7ecb58;
  font-family: "tamvkarvine";
  font-style: normal;
  font-size: 0.7em;
  text-transform: lowercase !important;
  margin: 0 0.2em;
}

.rectangle {
  width: 100%;
  background-color: #7ecb58;
}

.container {
  padding: 1em;
}

@media only screen and (min-width: 36em) {
  .container {
    width: 90%;
    margin: auto;
    padding: 1em 0;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 75%;
  }
}

header {
  display: -moz-grid;
  display: grid;
  padding: 2em 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

header h1#logo {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-touch-callout: none !important;
  user-select: none !important;
}

header p {
  margin-top: 1em;
  padding: 0.5em 0;
  font-size: 1.2rem;
}

header p a#btn-listen {
  padding: 0.5em 1em;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #7ecb58;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}

header p a#btn-listen:hover, header p a#btn-listen:focus {
  background-color: #73bc4f;
}

@media only screen and (min-width: 36em) {
  header p {
    margin-top: 0;
  }
}

@media only screen and (min-width: 36em) {
  header {
    grid-template-rows: auto;
    grid-template-columns: auto 11.2220625em;
  }
}

section {
  margin: 3em 0;
}

@media only screen and (min-width: 36em) {
  section {
    margin: 4em 0;
  }
}

h1.heading-section,
h3.episode-no {
  color: #a2a2a2;
  font-weight: 700;
  text-transform: uppercase;
}

h1.heading-section {
  font-size: 1.7rem;
  margin-bottom: 1em;
}

h2.episode-name {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.latest-episode__grid {
  display: -moz-grid;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

.latest-episode__grid .latest-episode__content h2.episode-name {
  font-size: 2rem;
}

@media only screen and (min-width: 36em) {
  .latest-episode__grid {
    gap: 2em;
    grid-template-rows: auto auto;
    grid-template-columns: 3fr 7fr;
  }
}

.next-episodes .episodes {
  gap: 2em;
  display: -moz-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.next-episodes .episodes .episode h3 {
  margin-top: 0.5em;
}

@media only screen and (min-width: 36em) {
  .next-episodes .episodes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 62em) {
  .next-episodes .episodes {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 100em) {
  .next-episodes .episodes {
    grid-template-columns: repeat(5, 1fr);
  }
}

.about .about__grid {
  gap: 4em;
  display: flex;
  flex-wrap: wrap;
}

.about .about__grid .about__content {
  flex-basis: 100%;
}

.about .about__grid .about__content h2 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.about .about__grid .about__content h2 br {
  display: none;
}

@media only screen and (min-width: 62em) {
  .about .about__grid .about__content h2 br {
    display: block;
  }
}

@media only screen and (min-width: 36em) {
  .about .about__grid .about__content {
    flex-basis: calc(50% - 2em);
  }
}

.about .about__grid .about__image {
  flex-basis: 100%;
}

@media only screen and (min-width: 36em) {
  .about .about__grid .about__image {
    flex-basis: calc(50% - 2em);
  }
}

@media only screen and (min-width: 36em) {
  .about .about__grid {
    flex-wrap: nowrap;
  }
}

.about .about__grid:first-of-type {
  margin-bottom: 3em;
}

@media only screen and (min-width: 36em) {
  .about .about__grid:first-of-type {
    margin-bottom: 4em;
  }
}

footer {
  background-color: #7ecb58;
}

footer .container {
  color: #fff;
  padding: 2em 1em;
}

footer .container a {
  color: inherit;
  text-decoration: none;
}

footer .container p#footer-logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

footer .container p#footer-logo i.icon-arrow::before {
  color: #fff;
}

@media only screen and (min-width: 36em) {
  footer .container {
    padding: 2em 0;
  }
}
