@font-face {
  font-family: "tamvkarvine";
  font-weight: normal;
  font-style: normal;
  src: url("./font/tamvkarvine.eot");
  src: url("./font/tamvkarvine.eot?#iefix") format("embedded-opentype"), url("./font/tamvkarvine.woff") format("woff"), url("./font/tamvkarvine.ttf") format("truetype"), url("./font/tamvkarvine.svg") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}

body {
  font-family: "Poppins", sans-serif;
}

i.icon-arrow::before {
  content: "a";
  color: #7ecb58;
  font-family: "tamvkarvine";
  font-style: normal;
  font-size: 0.7em;
  text-transform: lowercase !important;
  margin: 0 0.2em;
}

.rectangle {
  width: 100%;
  background-color: #7ecb58;
}

.container {
  padding: 1em;
}
@media only screen and (min-width: 36em) {
  .container {
    width: 90%;
    margin: auto;
    padding: 2em 0;
  }
}
@media only screen and (min-width: 62em) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 75%;
  }
}
@media only screen and (min-width: 120em) {
  .container {
    width: 90em;
  }
}

header {
  gap: 0.7em;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
header h1#logo {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
header .col {
  gap: 1em;
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
  align-items: center;
}
header .col p {
  font-size: 1.2rem;
}
header .col p a#btn-listen {
  display: block;
  padding: 0.5em 1em;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #7ecb58;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}
header .col p a#btn-listen:hover, header .col p a#btn-listen:focus {
  background-color: #73bc4f;
}
header .col .header__instagram {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em;
  background-color: #7ecb58;
  transition: background-color 200ms ease-in-out;
}
header .col .header__instagram:hover, header .col .header__instagram:focus {
  background-color: #73bc4f;
}
header .col .header__instagram svg {
  height: 100%;
  display: block;
}
@media only screen and (min-width: 36em) {
  header {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
  }
}

section {
  margin: 3em 0;
}
@media only screen and (min-width: 36em) {
  section {
    margin: 4em 0;
  }
}

h1.heading-section,
h3.episode-no {
  color: #a2a2a2;
  font-weight: 700;
  text-transform: uppercase;
}

h1.heading-section {
  font-size: 1.7rem;
  margin-bottom: 1em;
}

h2.episode-name {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.latest-episode__grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
.latest-episode__grid .latest-episode__content h2.episode-name {
  font-size: 2rem;
}
.latest-episode__grid .latest-episode__content .links {
  gap: 1em;
  display: inline-grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
}
.latest-episode__grid .latest-episode__content .links a {
  display: flex;
}
.latest-episode__grid .latest-episode__content .links a img {
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .latest-episode__grid .latest-episode__content .links {
    grid-template-rows: 2.5em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .latest-episode__grid .latest-episode__content .links a img {
    width: auto;
    height: 100%;
  }
}
@media only screen and (min-width: 36em) {
  .latest-episode__grid {
    gap: 2em;
    grid-template-rows: auto auto;
    grid-template-columns: 3fr 7fr;
  }
}

.next-episodes .episodes {
  gap: 2em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.next-episodes .episodes .episode h3 {
  margin-top: 0.5em;
}
@media only screen and (min-width: 36em) {
  .next-episodes .episodes {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 62em) {
  .next-episodes .episodes {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 100em) {
  .next-episodes .episodes {
    grid-template-columns: repeat(5, 1fr);
  }
}

.about .about__grid {
  gap: 4em;
  display: flex;
  flex-wrap: wrap;
}
.about .about__grid:first-of-type {
  margin-bottom: 3em;
}
@media only screen and (min-width: 36em) {
  .about .about__grid:first-of-type {
    margin-bottom: 4em;
  }
}
.about .about__grid:nth-child(odd) {
  flex-direction: row-reverse;
}
@media only screen and (min-width: 36em) {
  .about .about__grid:nth-child(odd) {
    flex-direction: row;
  }
}
.about .about__grid .about__content {
  flex-basis: 100%;
}
.about .about__grid .about__content h2 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.about .about__grid .about__content h2 br {
  display: none;
}
@media only screen and (min-width: 62em) {
  .about .about__grid .about__content h2 br {
    display: block;
  }
}
@media only screen and (min-width: 36em) {
  .about .about__grid .about__content {
    flex-basis: calc(50% - 2em);
  }
}
.about .about__grid .about__image {
  flex-basis: 100%;
}
@media only screen and (min-width: 36em) {
  .about .about__grid .about__image {
    flex-basis: calc(50% - 2em);
  }
}
@media only screen and (min-width: 36em) {
  .about .about__grid {
    flex-wrap: nowrap;
  }
}

figure#karvina {
  width: 100%;
  height: 10em;
}
figure#karvina img {
  object-fit: cover;
}
@media only screen and (min-width: 36em) {
  figure#karvina {
    height: 15em;
  }
}
@media only screen and (min-width: 62em) {
  figure#karvina {
    height: 17em;
  }
}
@media only screen and (min-width: 75em) {
  figure#karvina {
    height: 20em;
  }
}
@media only screen and (min-width: 100em) {
  figure#karvina {
    height: 25em;
  }
}

footer {
  background-color: #7ecb58;
}
footer .container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 2em;
  grid-template-areas: "footer-logo footer__instagram" "copyright footer__instagram" ". .";
  color: #fff;
  padding: 2em 1em;
}
footer .container a {
  color: inherit;
  text-decoration: none;
}
footer .container p#footer-logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  grid-area: footer-logo;
}
footer .container p#footer-logo i.icon-arrow::before {
  color: #fff;
}
footer .container .footer__instagram {
  padding-top: 0.2em;
  grid-area: footer__instagram;
}
footer .container .footer__instagram a,
footer .container .footer__instagram a svg {
  width: 100%;
  display: block;
}
@media only screen and (min-width: 36em) {
  footer .container .footer__instagram {
    display: flex;
    align-items: center;
    padding-top: 0;
  }
}
footer .container #signature svg {
  height: 12px;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}
footer .container #signature svg path {
  fill: #fff;
}
@media only screen and (min-width: 36em) {
  footer .container {
    grid-template-columns: 1fr 2.5em;
    padding: 2em 0;
  }
}

#modal-background {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
#modal-background #modal {
  width: 50%;
  background-color: #fff;
}
#modal-background #modal .streaming_platforms {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
#modal-background #modal .streaming_platforms a {
  padding: 1em;
  border-width: 3px;
  border-style: solid;
  border-color: #a2a2a2;
  text-decoration: none;
  transition: border-color 200ms ease-in-out;
}
#modal-background #modal .streaming_platforms a img {
  width: 100%;
  display: block;
  margin-bottom: 1em;
}
#modal-background #modal .streaming_platforms a p {
  color: #000;
  text-align: center;
}
#modal-background #modal .streaming_platforms a:hover, #modal-background #modal .streaming_platforms a:focus {
  border-color: #7ecb58;
}
#modal-background.open {
  z-index: 1;
  visibility: visible;
  opacity: 1;
}