@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "tamvkarvine";
    font-weight: normal;
    font-style: normal;
    src: url("./font/tamvkarvine.eot");
    src:
        url("./font/tamvkarvine.eot?#iefix") format("embedded-opentype"),
        url("./font/tamvkarvine.woff") format("woff"),
        url("./font/tamvkarvine.ttf") format("truetype"),
        url("./font/tamvkarvine.svg") format("svg");
}

$font: "Poppins", sans-serif;
$black: #000;
$white: #fff;
$accent: #7ecb58;
$accent-hover: #73bc4f;
$grey: #a2a2a2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: none;
}

body {
    font-family: $font;
}

i.icon-arrow::before {
    content: "\61";
    color: $accent;
    font-family: "tamvkarvine";
    font-style: normal;
    font-size: 0.7em;
    text-transform: lowercase !important;
    margin: 0 0.2em;
}

.rectangle {
    width: 100%;
    background-color: $accent;
}

.container {
    padding: 1em;

    @media only screen and (min-width: 36em) {
        width: 90%;
        margin: auto;
        padding: 2em 0;
    }

    @media only screen and (min-width: 62em) {
        width: 80%;
    }

    @media only screen and (min-width: 75em) {
        width: 75%;
    }
}

header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;

    h1#logo {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    p {
        margin-top: 1em;
        padding: 0.5em 0;
        font-size: 1.2rem;

        a#btn-listen {
            padding: 0.5em 1em;
            color: $white;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            background-color: $accent;
            transition: background-color 200ms ease-in-out;
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: $accent-hover;
            }
        }

        @media only screen and (min-width: 36em) {
            margin-top: 0;
        }
    }

    @media only screen and (min-width: 36em) {
        grid-template-rows: auto;
        grid-template-columns: auto 11.2220625em;
    }
}

section {
    margin: 3em 0;

    @media only screen and (min-width: 36em) {
        margin: 4em 0;
    }
}

h1.heading-section,
h3.episode-no {
    color: $grey;
    font-weight: 700;
    text-transform: uppercase;
}

h1.heading-section {
    font-size: 1.7rem;
    margin-bottom: 1em;
}

h2.episode-name {
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
}

.latest-episode__grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;

    .latest-episode__content {

        h2.episode-name {
            font-size: 2rem;
        }

        .links {
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-top: 1em;

            @media only screen and (min-width: 36em) {
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
            }
        }
    }

    @media only screen and (min-width: 36em) {
        gap: 2em;
        grid-template-rows: auto auto;
        grid-template-columns: 3fr 7fr;
    }
}

.next-episodes {
    .episodes {
        gap: 2em;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .episode h3 {
            margin-top: 0.5em;
        }

        @media only screen and (min-width: 36em) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (min-width: 62em) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media only screen and (min-width: 100em) {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

.about {
    .about__grid {
        gap: 4em;
        display: flex;
        flex-wrap: wrap;

        &:first-of-type {
            margin-bottom: 3em;

            @media only screen and (min-width: 36em) {
                margin-bottom: 4em;
            }
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;

            @media only screen and (min-width: 36em) {
                flex-direction: row;
            }
        }

        .about__content {
            flex-basis: 100%;

            h2 {
                font-size: 1.7rem;
                text-transform: uppercase;
                margin-bottom: 0.5em;

                br {
                    display: none;

                    @media only screen and (min-width: 62em) {
                        display: block;
                    }
                }
            }

            @media only screen and (min-width: 36em) {
                flex-basis: calc(50% - 2em);
            }
        }

        .about__image {
            flex-basis: 100%;

            @media only screen and (min-width: 36em) {
                flex-basis: calc(50% - 2em);
            }
        }

        @media only screen and (min-width: 36em) {
            flex-wrap: nowrap;
        }
    }
}

figure#karvina {
    width: 100%;
    height: 30em;

    img {
        height: 30em;
        object-fit: cover;
    }
}

footer {
    background-color: $accent;

    .container {
        color: $white;
        padding: 2em 1em;

        a {
            color: inherit;
            text-decoration: none;
        }

        p#footer-logo {
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;

            i.icon-arrow::before {
                color: $white;
            }
        }

        @media only screen and (min-width: 36em) {
            padding: 2em 0;
        }
    }
}