@font-face {
    font-family: "tamvkarvine";
    font-weight: normal;
    font-style: normal;
    src: url("./font/tamvkarvine.eot");
    src:
        url("./font/tamvkarvine.eot?#iefix") format("embedded-opentype"),
        url("./font/tamvkarvine.woff") format("woff"),
        url("./font/tamvkarvine.ttf") format("truetype"),
        url("./font/tamvkarvine.svg") format("svg");
}

$font: "Poppins", sans-serif;
$black: #000;
$white: #fff;
$accent: #7ecb58;
$accent-hover: #73bc4f;
$grey: #a2a2a2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: none;
}

body {
    font-family: $font;
    line-height: 1.5;
}

i.icon-arrow::before {
    content: "\61";
    color: $accent;
    font-family: "tamvkarvine";
    font-style: normal;
    font-size: 0.7em;
    text-transform: lowercase !important;
    margin: 0 0.2em;
}

.rectangle {
    width: 100%;
    background-color: $accent;
}

.container {
    padding: 1em;

    @media only screen and (min-width: 36em) {
        width: 90%;
        margin: auto;
        padding: 2em 0;
    }

    @media only screen and (min-width: 62em) {
        width: 80%;
    }

    @media only screen and (min-width: 75em) {
        width: 75%;
    }

    @media only screen and (min-width: 120em) {
        width: 90em;
    }
}

header {
    gap: .7em;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;

    h1#logo {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    .col {
        gap: 1em;
        display: inline-flex;
        align-items: center;

        p {
            font-size: 1.2rem;

            a#btn-listen {
                height: 3rem;
                display: flex;
                align-items: center;
                padding: 0 1em;
                line-height: 1;
                color: $white;
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;
                background-color: $accent;
                transition: background-color 200ms ease-in-out;
                cursor: pointer;

                &:hover,
                &:focus {
                    background-color: $accent-hover;
                }
            }
        }

        .header__instagram {
            width: 3em;
            height: 3em;
            position: relative;
            background-color: $accent;
            transition: background-color 200ms ease-in-out;

            svg {
                width: 60%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover,
            &:focus {
                background-color: $accent-hover;
            }
        }
    }

    @media only screen and (min-width: 36em) {
        grid-template-rows: 3em;
        grid-template-columns: 1fr auto;
    }
}

section {
    margin: 3em 0;

    @media only screen and (min-width: 36em) {
        margin: 4em 0;
    }
}

h1.heading-section,
h3.episode-no {
    color: $grey;
    font-weight: 700;
    text-transform: uppercase;
}

h1.heading-section {
    font-size: 1.7rem;
    margin-bottom: 1em;
}

h2.episode-name {
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
}

.latest-episode__grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;

    .latest-episode__content {

        h2.episode-name {
            font-size: 2rem;
        }

        .links {
            gap: 1em;
            display: inline-grid;
            grid-template-rows: 1fr auto;
            grid-template-columns: 1fr 1fr;
            margin-top: 1em;

            a {
                display: flex;

                svg {
                    width: 100%;
                }
            }

            @media only screen and (min-width: 48em) {
                grid-template-rows: 2.5em;
                grid-template-columns: 1fr 1fr 1fr;

                a svg {
                    width: auto;
                    height: 100%;
                }
            }

            @media only screen and (min-width: 100em) {
                grid-template-rows: 3em;
            }
        }
    }

    @media only screen and (min-width: 36em) {
        gap: 2em;
        grid-template-rows: auto auto;
        grid-template-columns: 3fr 7fr;
    }
}

.next-episodes {
    .episodes {
        gap: 2em;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .episode h3 {
            margin-top: 0.5em;
        }

        @media only screen and (min-width: 36em) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (min-width: 62em) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media only screen and (min-width: 100em) {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

.about {
    .about__grid {
        gap: 4em;
        display: flex;
        flex-wrap: wrap;

        &:first-of-type {
            margin-bottom: 3em;

            @media only screen and (min-width: 36em) {
                margin-bottom: 4em;
            }
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;

            @media only screen and (min-width: 36em) {
                flex-direction: row;
            }
        }

        .about__content {
            flex-basis: 100%;

            h2 {
                font-size: 1.7rem;
                text-transform: uppercase;
                margin-bottom: 0.5em;

                br {
                    display: none;

                    @media only screen and (min-width: 62em) {
                        display: block;
                    }
                }
            }

            @media only screen and (min-width: 36em) {
                flex-basis: calc(50% - 2em);
            }
        }

        .about__image {
            flex-basis: 100%;

            @media only screen and (min-width: 36em) {
                flex-basis: calc(50% - 2em);
            }
        }

        @media only screen and (min-width: 36em) {
            flex-wrap: nowrap;
        }
    }
}

figure#karvina {
    width: 100%;
    height: 10em;

    img {
        object-fit: cover;
    }

    @media only screen and (min-width: 36em) {
        height: 15em;
    }

    @media only screen and (min-width: 62em) {
        height: 17em;
    }

    @media only screen and (min-width: 75em) {
        height: 20em;
    }

    @media only screen and (min-width: 100em) {
        height: 25em;
    }
}

footer {
    background-color: $accent;

    .container {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 2em;
        grid-template-areas: "footer-logo footer__instagram" "copyright footer__instagram" "signature footer__instagram";
        color: $white;
        padding: 2em 1em;

        a {
            color: inherit;
            text-decoration: none;
        }

        p#footer-logo {
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
            grid-area: footer-logo;

            i.icon-arrow::before {
                color: $white;
            }
        }

        .footer__instagram {
            padding-top: .2em;
            grid-area: footer__instagram;

            a,
            a svg {
                width: 100%;
                display: block;
            }

            @media only screen and (min-width: 36em) {
                display: flex;
                align-items: center;
                padding-top: 0;
            }
        }

        #signature {
            grid-area: signature;
        }

        #signature svg {
            height: 12px;
            fill-rule: evenodd;
            clip-rule: evenodd;
            stroke-linejoin: round;
            stroke-miterlimit: 2;

            path {
                fill: $white;
            }
        }

        @media only screen and (min-width: 36em) {
            grid-template-columns: 1fr 2.5em;
            padding: 2em 0;
        }
    }
}

#modal-background {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-in-out;

    #modal {
        width: 90%;
        padding: 1.5em;
        background-color: $white;

        &>p {
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;

            span {
                white-space: nowrap;
                -webkit-user-select: none !important;
                -moz-user-select: none !important;
                -ms-user-select: none !important;
                user-select: none !important;
            }
        }

        .streaming_platforms {
            gap: 1em;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            margin-top: 1em;

            a {
                gap: 1em;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 4em 1fr;
                align-items: center;
                padding: 1em;
                border-width: 3px;
                border-style: solid;
                border-color: $grey;
                text-decoration: none;
                transition: border-color 200ms ease-in-out;

                img {
                    width: 100%;
                    display: block;
                }

                p {
                    color: $black;
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                &:hover,
                &:focus {
                    border-color: $accent;
                }
            }
        }
    }

    &.open {
        z-index: 1;
        visibility: visible;
        opacity: 1;
    }
}